/* Global Styling */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
  margin: 0px;
}

h2 {
  font-size: 22pt;
  font-weight: bold;
}

h3 {
  font-size: 20pt;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 18px;
}


/* Navigation Bar Styling */

.header {
   height: 69px;
   width: 100%;
   background-color: black;
   z-index: 2;
   border-bottom: 1px solid seashell;
   display: flex;
   position: fixed;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   top: 0px;
}

.logo img {
  height: 50px;
  flex-grow: 2;
  margin-left: 10px;
}

a {
  text-decoration: underline;
  color: seashell;
  padding: 10px 12px;
}


/* Main Content Area */

.container {
  position: relative;
  top: 70px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


/* Hero Banner */

.hero {
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.mission {
  background-color: black;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.mission h2, h4 {
  margin: 5px auto 0px auto;
}


/* Tea of the Month */

.features {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.features h2, h4 {
  margin: 5px auto 0px auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.product {
  width: 300px;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
}

.product-grid h4 {
  margin-bottom: 20px;
}

.product-grid {
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* Locations */

.locations {
  width: 1200px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.locations h2 {
  margin-bottom: 0px;
}

.location-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 300px;
  background-color: black;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.box h2 {
  display: block;
}

.box p {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Contact */

.contact {
  height: 200px;
  padding-bottom: 20px;
}

/* Copyright */

.footer {
  margin-left: 20px;
  text-align: left;
}
